.car-item{
    height: 80vh;
    background-color: #10131E;
    position: relative;
 }
.car-item__image{
    width: 40%;
    height: 100%;
    margin-top: 10px ;
}
.car-item__details{
    position: absolute;
    top: -8%;
    right: 10%;
    width: 40%;

}
.car-item__title{
    font-size: 75px;
    font-weight: 900;
}
.car-item__detail{
    font-style: 24px;
    color: gray;
}
.terminarCompra{
    font-size: 25px;
    float:right;
    padding: 10px 20px;
    background-color:  #272A3B;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}