body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color:#292C3E;
  overflow: auto;
}
button {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
button:hover {
  color: lightgray;
  background-color: rgb(22, 22, 22);
  
}
::-webkit-scrollbar{
  background-color: #292C3E;
  width: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #384155;
  border-radius: 5px;
}


